:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #a88fac;
    --secondary-color: #ffffff;
    --tertiary-color: #826c7f;
    --error-color: #5d4e60;
}

.background {
    background-color: #fcf8fd;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.button {
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 16px;
}

.song {
    padding: 2px;
    display: flex;
}

.song .title {
    flex: 20%;
}

.song .album {
    flex: 80%;
}

/*
Flexbox on a lists removes the numbers. We use a counter here to add them back.
https://stackoverflow.com/a/34316093
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
*/
.song:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -40px;
}

.hidden {
    display: none;
}

/* table styles */ 

.priority-table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
}

.category-table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
}

.name-table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
}

.table-container {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
}

.table-container th {
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
}

.table-container td {
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.button-bordered {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    margin: 8px 8px 16px 15px;
    color: var(--primary-color);
    padding: 6px 8px 4px 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-us {
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
}

.pic {
    height: auto;
    width: 302px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
}

.text h2 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;

}

.text h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

span {
    color: #4070f4;
}

.text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.data {
    margin-top: 30px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.update-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.updatingButton {
    display: block;
    width: 200px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    background-color: #d4b2d8;
    color: #fff;
    transition: background-color 0.3s ease;
}

.updatingButton:hover {
    background-color: #8a5f8d;
}

.backButton,
.resumeButton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #d4b2d8;
    color: #fff;
}

.resumeButton {
    background-color: #8166ce;
}

.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 1500px;
    background-color: d4b2d8;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target~.image-container {
    left: 0px;
}

#slide-2:target~.image-container {
    left: -500px;
}

#slide-3:target~.image-container {
    left: -1000px;
}

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgb(153, 144, 238);
}

.creationleft {
    display: flex;
    justify-content: left;
    align-items: center;
}

.creation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}


.cardington {
    width: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
    height: 443px;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardViews {
    height: flex;
    width: flex;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.cardContainer {
    display: flex;
    margin-top: 50px;
}

.navCardLeft {
    width: 300px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableCardAligned {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navCardLeft .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updateCard {
    width: 300px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    color:#603363
}

.cardward {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.sidethingy {
    display: flex;
    justify-content: right;
    align-items: right;
    width: flex;
    height: 443px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    color: #b45441;
    text-align: center;
}

.cardUserInfo {
    width: 600px;
    padding: 20px;
    background-color: #fffcfc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    color: #99b2dd;
}



/* .button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #6c92d4;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
} */

.cryingButton {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin-right:10px;
    background-color: #d4b2d8;
    color: #fff;
}


.navbar {
    overflow: hidden;
    background-color: #a88fac;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #74497a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #74497a;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: #9d69a5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}